/*
    Survey의 모든 css를 관리하는 파일입니다.
    
*/

/*메인*/
.index__Contanier_wrap{
    width:1200px;
    margin:0px auto;
}

.index__Container{
    width:100%;
    margin:0px auto;
}
/*푸터*/
.page-footer{
    width:100%;
    position: fixed;
    bottom:0;
}